# Конфигурация базы данных

DB_NAME=mydatabase   # Имя базы данных
DB_USER=username     # Имя пользователя базы данных
DB_PASSWORD=password # Пароль базы данных
DB_HOST=localhost    # Хост для базы данных
DB_PORT=5432         # Порт

# Stripe
STRIPE_SECRET_KEY