# Конфигурация базы данных

DB_NAME=mydatabase   # Имя базы данных
DB_USER=username     # Имя пользователя базы данных
DB_PASSWORD=password # Пароль базы данных
DB_HOST=localhost    # Хост для базы данных
DB_PORT=5432         # Порт

# Stripe
STRIPE_SECRET_KEY

# Настройки для Celery
# URL-адрес брокера сообщений
CELERY_BROKER_URL = 'redis://localhost:6379' # Например, Redis, который по умолчанию работает на порту 6379

# URL-адрес брокера результатов, также Redis
CELERY_RESULT_BACKEND = 'redis://localhost:6379'

# Часовой пояс для работы Celery
CELERY_TIMEZONE = "Australia/Tasmania"

# Флаг отслеживания выполнения задач
CELERY_TASK_TRACK_STARTED = True

# Максимальное время на выполнение задачи
CELERY_TASK_TIME_LIMIT = 30 * 60